<%= render 'grid_top' =%>

<h1>Listing games</h1>
<%= link_to 'New game', new_game_path, :class => "pure-button pure-button-primary"  %>
<p>
<table class="pure-table sortable">
  <thead>
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Weight</th>
      <th>Owner</th>
      <th>Borrowed</th>
      <th>Borrowed by</th>
      <th class="sorttable_nosort">Action</th>
    </tr>
  </thead>

  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= best_in_place game, :number, :inner_class => "input_number" %></td>
      <td><%= best_in_place game, :title , :inner_class => "input_title" %></td>
      <td><%= best_in_place game, :weight, :inner_class => "input_weight" %></td>
      <td><%= best_in_place game, :owner, :inner_class => "input_owner" %></td>
    <td><%= best_in_place game, :borrowed, as: :checkbox, collection: {false: "No", true: "Yes"} %></td>
    <td><%= best_in_place game, :borrower, :inner_class => "input_borrower" %></td>


    <td><%= link_to 'Show', game_path(game) %> |
      <%= link_to 'Edit', edit_game_path(game) %> |
      <%= link_to 'Destroy', game_path(game),
      method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
</p>
</div>

<%= render 'grid_bottom' =%>
