<%= render 'grid_top' =%>

<p>
<strong>Number:</strong>
<%= @game.number %>
</p>

<p>
<strong>Title:</strong>
<%= @game.title %>
</p>

<p>
<strong>Weight:</strong>
<%= @game.weight %>
</p>

<p>
<strong>Owner:</strong>
<%= @game.owner %>
</p>

<%= link_to 'New game', new_game_path, :class => "pure-button pure-button-primary"  %> <%= link_to 'Edit game', edit_game_path, :class => "pure-button pure-button-primary"  %> <%= link_to 'Back to list', games_path, :class => "pure-button pure-button-primary"  %>

<%= render 'grid_bottom' =%>
